<div class="form-horizontal">
  <%= form_for(recipe) do |f| %>
    <div class="form-group">
      <%= f.label :name, 'レシピタイトル' %>
      <%= f.text_area :title, class: 'form-control', placeholder:'レシピタイトルを入力' %>
      <%= f.label :name, 'このレシピについて' %>
      <%= f.text_area :content, class: 'form-control', placeholder: 'レシピコメント（おすすめポイントなど）' %>
      <%= f.label :name, '分量（〜人分）' %>
      <%= f.number_field :volume, class: 'form-control', placeholder: '〜人分、整数で入力(例：3)' %>
    </div>
    <div class="form-group">
      <table class="table table-striped table-bordered table-hover">
        <tbody>
          <tr>
            <th>材料名</th>
            <th>分量</th>
          </tr>
          <%= f.nested_fields_for :ingredients, wrapper_tag: :tr do |q| %>
            <%= q.hidden_field :id %>
            <td><%= q.text_field :name, class: 'form-control', placeholder:'材料名' %></td>
            <td><%= q.text_field :amount, class: 'form-control', placeholder:'分量（例：30g, 大さじ1）' %></td>
            <td>
              <button type="button" class="close form-control" aria-label="Close"><%= q.remove_nested_fields_link %></button>
            </td>
          <% end %>
        </tbody>
      </table>
      <%= f.add_nested_fields_link :ingredients, '材料名を追加', class: 'btn btn-success', role: 'button' %>
    </div>
    <div class="form-group">
      <table class="table table-striped table-bordered table-hover">
        <tbody>
          <tr>
            <th>作り方</th>
          </tr>
          <%= f.nested_fields_for :instractions, wrapper_tag: :tr, class: 'row' do |q| %>
            <%= q.hidden_field :id %>
            <td><%= q.text_field :content, class: 'form-control', placeholder:'作り方（手順に応じて入力フィールドを追加してください）' %></td>
            <td><button type="button" class="close form-control"><span aria-hidden="true"><%= q.remove_nested_fields_link %></span></button></td>
          <% end %>
        </tbody>
      </table>
      <%= f.add_nested_fields_link :instractions, '作り方を追加', class: 'btn btn-success', role: 'button' %>
    </div>
  <%= f.submit 'Post', class: 'btn btn-info btn-block' %>
  <% end %>
</div>