<% recipes.each do |recipe| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= recipe.title %></h3>
        <% user = recipe.user %>
          <%= link_to user.name, user_path(user), class: 'label label-warning text-left' %><span class="text-muted pull-right"><%= l recipe.created_at, format: :short %></span>
        <p><%= recipe.content %></p>
        <%= link_to 'レシピ詳細', recipe_path(recipe), class: "btn btn-sm btn-info btn-block" %>
      </div>
    </div>
  </div>
<% end %>