<% recipes.each do |recipe| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail image-responsive", style="overflow: hidden;">
      <% unless recipe.picture? %>
        <div style="height: 250px; display:table; margin: 10px auto 5px;"><%= image_tag "/images/sample00.jpg", width: '250px', height: '250px' %></div>
      <% else %>
        <div style="height: 250px; display:table; margin: 10px auto 5px;"><%= image_tag recipe.picture, width: '250px', height: '250px' %></div>
      <% end %>
      <div class="caption", style="height: 200px;">
        <div style="height: 37px; overflow:hidden;"><h3 class="text-warning", style="font-size: 17.7px; line-height: 1.45; margin-top: 10px;"><%= recipe.title %></h3></div>
        <% user = recipe.user %>
        <div class="bg-danger", style="margin: 6px auto 6px;">
          <%= link_to user.name, user_path(user), class: 'btn btn-xs btn-success text-left' %><span class="btn btn-xs text-muted pull-right"><%= l recipe.created_at, format: :short %></span>
        </div>
        <p class="text-muted", style="line-height: 1.3; font-size: 13px; text-align: justify;"><%= recipe.content %></p>
        <%= link_to 'レシピ詳細', recipe_path(recipe), class: "btn btn-sm btn-warning btn-block" %>
      </div>
    </div>
  </div>
<% end %>