<h1 class="page-header"><%= @recipe.title %></h1>
  <div class="panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        <%= link_to @user.name, user_path(@user), class: 'text-left' %><span class="text-muted pull-right"><%= l @recipe.created_at, format: :short %></span>
      </h2>
    </div>
    <div class="panel-body">
      <p><%= @recipe.content %></p>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr><th>材料</th><th>（<%= @recipe.volume %>人分）</th></tr>
        </thead>
        <% @recipe.ingredients.each do |ingredient| %>
          <tbody>
            <tr><td><%= ingredient.name %></td><td><%= ingredient.amount %></td></tr>
          </tbody>
        <% end %>
      </table>
    </div>
    <div class="panel-body">
      <h3>作り方</h3>
      <% @recipe.instractions.each_with_index do |instraction, index| %>
        <p><%= index+1 %>.<%= instraction.content %></p>
      <% end %>
    </div>
  </div>