<% users.each do |user| %>
  <div class="well-users">
    <ul class="users-ul">
      <li>
        <span class="pull-left">
          <%= link_to user.name, user_path(user), class: 'users-name' %>
        </span>
        <span class="follow-button">
          <%= render 'relationships/follow_button', user: user %>
        </span>
      </li>
      <li>
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        投稿レシピ数
        <span class="badge badge-color"><%= @count_user_recipes %></span>
      </li>
      <li>
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        <%= link_to followings_user_path(@user) do %>フォロー<span class="badge badge-color"><%= @count_followings %></span><% end %>
      </li>
      <li>
        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        <%= link_to followings_user_path(@user) do %>フォロワー<span class="badge badge-color"><%= @count_followers %></span><% end %>
      </li>
    </ul>
  </div>
<% end %>
<%= paginate users %>
