<div class="user-profile">
  <div class="user-show-panel">
    <div class="name user-name text-center">
      <h1><%= @user.name %></h1>
    </div>
    <div class="follow-button text-center">
      <%= render 'relationships/follow_button', user: @user %>
    </div>
    <div class="user-count">
      <div class="follow-users">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>お気に入りレシピ<span class="badge badge-color"><%= @count_favorites %></span>
      </div>
    </div>
  </div>
  <div class="user-show-body">
    <%= render 'recipes/recipes_short', recipes: @favorites %>
    <%= paginate @favorites %>
  </div>
</div>